
@import "./misc/variables";
@import "./misc/mixin";
@import "./utilities/normalizadores";
@import "./utilities/footer";
@import "./utilities/formulario";
@import "./paginas/utv";
@import "./utilities/menunavegacion";
@import "./paginas/contactos";


@if $vista == desktop {
    p{font-size: 20px;}
} @else {p{ font-size: 5px;}
}

.boton{
    background-color: map-get($map: $estilos, $key:backaground-color );
padding: map-get($map: $estilos, $key:padding );
border-radius: map-get($map: $estilos, $key:border-radius );
}



