footer {
    width: 100%;
    background-color: $cuarta;
    font-weight: bold;
    margin-top: 2rem;
    position: absolute;
}



footer p {
    text-align: center;
    background-color: $segunda;
    color: rgb(88, 87, 81);
    margin: 0%;
    padding: 0%;
}

.img_footer {
    width: 25px;
    height: 25px;
    
}

.img_footer:hover  {-webkit-transform:scale(1.5);transform:scale(1.5);}
.img_footer {overflow:hidden;}



.footer_redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}


@media (min-width:992px) {

    footer {
        width: 100%;
        background-color: $cuarta;
        font-weight: bold;
        margin-top: 2rem;
        border: rgb(202, 194, 186);
    }

    footer p {
        text-align: center;
        background-color: $segunda;
        color: rgb(88, 87, 81);
        margin: 0%;
        padding: 0%;
    }

    .img_footer {
        width: 25px;
        height: 25px;
        
    }

    .footer_reder{
        justify-content: center;
        display: inline-flex;
    }
}
