.formulario2 {
    display: block;
    padding-top: 10px;
    text-align: center;
}

.form_contact {
    padding-left: 0%;
}

@media (min-width: 992px){
.form_contact {
    padding-left: 40%;
}
}

form {
    text-align: center;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form button {
    width: 100%;
    padding: 8px;
    margin-top: 2rem;
    background-color: blueviolet;
    border-radius: 5px;
    display: block;
    color: aliceblue;
}

p {
    width: 100%;
    padding: 10%;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 7%;
}

h1 {
    text-align: center;
    padding: 1%;
}
